#corps{
	height: 600px;
	width: 800px;
	border: double black 1px;
	margin: auto;
}

.dialBox{
  border: 5px double black;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: white;
  opacity: 0.4;
  visibility: visible;
  font-family: fantasy;
  font-size: 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row;
  z-index: -1;
}

.charaName{
  border: 5px double black;
  background-color: white;
  opacity: 0.4;
  margin-top: 350px;
  visibility: visible;
  font-family: fantasy;
  font-size: 20px;
  width: 200px;
  height: 40px;
}

#precedent{
  margin-top: 10%;
}

#suivant{
  margin-top: 10%;
  margin-left: auto;
  margin-right: 2%;
}

#feuille1{
	background-image: url("Feuille1.png");
	background-repeat: no-repeat;
	height: 318px;
	width: 264px;
	position: absolute;
	margin-left: 250px;
}
